.dcard {
  display: block;
  position: relative;
  margin: 15px 0;
  color: $white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: 0.5s;
  background-size: 200% auto;
  overflow: hidden;

  .dcard-content {
    padding: 20px 10px;
    position: relative;

    .dcard-icon {
      transition: all .3s linear;
      position: absolute;
      top: 10px;
      right: 8px;
      z-index: 0;
      font-size: 70px;
      color: rgba(0,0,0,0.15);
    }

    p { margin-bottom: 0; }
  }

  .dcard-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    padding: 10px;
    text-transform: uppercase;
  }

  &:hover {
    background-position: right center;
    color: $white;
    .dcard-content {
      .dcard-icon {
        font-size: 90px;
      }
    }
  }
}

.dcard-default {
  background-image: linear-gradient(90deg, $shopper-blue 12%, $shopper-blue-2 87%);

  .dcard-footer {
    color: $shopper-blue;
  }
}
.dcard-success {
  background-image: linear-gradient(90deg, #33b349 12%, #257d38 85%);

  .dcard-footer {
    color: #257d38;
  }
}
.dcard-danger {
  background-image: linear-gradient(90deg, #fb5768 15%, #dc3545 85%);

  .dcard-footer {
    color: #dc3545;
  }
}
.dcard-pink {
  background-image: linear-gradient(90deg, #e87ca2 15%, #e83e8c 85%);

  .dcard-footer {
    color: #e83e8c;
  }
}
.dcard-warning {
  background-image: linear-gradient(90deg, #f0ad4e 15%, #b9892a 85%);

  .dcard-footer {
    color: #b9892a;
  }
}

.tables {
  margin: 25px 0;
  .card {
    .card-body {
      padding: 0;
    }
  }

  .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e6e9ed;
  }
}

.system-information {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  margin-top: 30px;

  li {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      margin-right: 10px;
    }
  }
}

.element-rs {
  i {
    margin-top: 10px;
  }
  h6 {
    font-weight: bold;
  }
}

.algolia-items {
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 2px 3px #cdd8df;
  border-radius: 2px;

  .card {
    box-shadow: none;
  }

  .algolia-header {
    display: flex;
    justify-content: space-between;
    a {
      color: #5468ff !important;
    }
  }
}

.nova-algolia-card-title {
  color: #5468ff;
  .nova-algolia-card-title-logo {
    width: 1.8rem;
    margin-right: .2rem;
    display: inline;
    vertical-align: middle;
  }
}
.nova-algolia-card-index {
  display: inline-block;
  background-color: #f1f5f8;
  padding: 0px 5px;
  border-radius: 5px;
}
