.transfert-header {
    .transfert-title {
        display: flex;
        flex-direction: row;

        span {
            display: inline-block;
            margin-right: 15px;
        }
    }

    h5 {
        display: inline-block;
        margin-right: 15px;
        font-weight: bold;
    }

    .loader-active {
        position: relative;
        top: -2px;
    }
}

.transfert-status {
    ul li {
        display: inline-block;
        margin-right: 10px;

        button.el-button {
            padding: 1px 6px;
        }
        span {
            font-weight: 400;
        }
    }
}

.padding-md {
    padding: 20px;
}

.form-inline {
    width: 100%;
}

.submit-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
        display: inline-block;
        margin-left: 10px;
    }

    button {
        margin-bottom: 10px;
    }
}